.App {
    text-align: center;
  }
  
  .inputtextdesign {
    text-align: center;
    margin-top: 15%;
    /* width:20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; */
  }
  
  
  .inputsubmitdesign{
    margin-top:1.1111vw;
    
  }
  
  input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=text] {
    width:20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
    